.pop-over{
  width: 45%;
  max-width: 384px; 
  color: $black;
  background-color: $white;
  padding:16px;
  max-height: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: $level-3;
  box-shadow: $shadow-2;
  .icons{
    width:100%;
    display: flex;
    justify-content:flex-end;
    }
  .pop-over--header{
    text-align: center;
    h2{
      font-size: $L;
      font-weight: $regular;
    }
    padding-bottom: 16px;
  }
  .pop-over--content{
    display: flex;
  }
  .pop-over--footer{
    margin: 0 auto;
    padding:16px 0 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}