.btn{
  cursor: pointer;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  border: none;
  &:focus{
    outline: none;
  }
}

.btn--icon{
  background-color: transparent;
  i{
    font-size: $XXL;
    color: $gray;
  }
}

.btn--text{
  font-size: $R;
  font-weight: $regular;
  padding:4px 16px;
  border-radius: 16px;
  text-align: center;
  &:hover{
    filter:brightness(1.2);
  }
  &:active{
    filter:saturate(.7);
  }

  &:disabled{
    filter: saturate(.3);
  }
}



@each $bgColor, $color in $darkColors {
  .btn--#{$bgColor} {
    background-color: $color;
    color: $white;
  }
}
@each $bgLightColor, $colorss in $lightColors {
  .btn--#{$bgLightColor} {
    background-color: $colorss;
    font-size: $XXL;
    color: $gray;
  }
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .btn--text{
    font-size: $S;
  }
}
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
//
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
//
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ...}
