.modal--wrapper{
  width: -webkit-fill-available;
  width: -moz-available;
  height: -webkit-fill-available;
  height: -moz-available;
  z-index: $level-1;
  position: absolute;
  top: 0;
  left: 0;
}
.modal--background{
  background-color: $not-gray-d3;
  width: -webkit-fill-available;
  width: -moz-available;
  height: -webkit-fill-available;
  height: -moz-available;
  opacity: .6;
  padding:0px;
  margin:0px;
  overflow:hidden;
}
.modal{
  color: $black;
  font-weight: $light;
  padding: 16px 16px 32px;
  background-color: $white;
  width:90%;
  max-width: 768px;
  max-height: 80%;
  border-radius: 8px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: $level-2;
  box-shadow:0 4px 8px 2px rgba($black,0.4);
    .icons{
    width:100%;
    display: flex;
    justify-content:flex-end;
    }
    .modal--content{
      padding: 16px 0 0;
    }
    .modal--header{
      text-align: center;
      h2{
        font-size: $XL;
        font-weight: $bold;
      }
      padding-bottom: 16px;
    }
    .modal--footer{
      margin: 0 auto;
      padding:16px 0 0;
      width: 50%;
      display: flex;
      justify-content: space-around;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .modal{
    font-size: $S;
    max-width: 384px;
    .icons{
      i{
        font-size: $L;
      }
    }
    .modal--header{
      font-size: $S;
      h2{
        font-size: $L;
      }
    }
    .modal--footer{
      width: 75%;
    }
  }
}
