@font-face {
  font-family: "Tabby-Icons";
  src: url("./font/tabby.eot");
  src: url("./font/tabby.eot?#iefix") format("embedded-opentype"),
    url("./font/tabby.woff") format("woff"),
    url("./font/tabby.ttf") format("truetype"),
    url("./font/tabby.svg#tabby") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before {
  display: inline-block;
  font-family: "Tabby-Icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-question-mark:before {
  content: "\0041";
}
.icon-chronometer:before {
  content: "\0042";
}
.icon-logout:before {
  content: "\0043";
}
.icon-link:before {
  content: "\0044";
}
.icon-airplane-outline:before {
  content: "\0045";
}
.icon-import:before {
  content: "\0046";
}
.icon-login:before {
  content: "\0047";
}
.icon-check:before {
  content: "\0048";
}
.icon-options:before {
  content: "\0049";
}
.icon-download-outline:before {
  content: "\004a";
}
.icon-magnifier:before {
  content: "\004b";
}
.icon-cross:before {
  content: "\004c";
}
.icon-path:before {
  content: "\004d";
}
.icon-upload:before {
  content: "\004e";
}
.icon-pulsarup-logo:before {
  content: "\004f";
}
.icon-pulsarup:before {
  content: "\0050";
}
.icon-spaceship:before {
  content: "\0051";
}
.icon-plus:before {
  content: "\0052";
}
.icon-spaceship-outline:before {
  content: "\0053";
}
.icon-face:before {
  content: "\0054";
}
.icon-less:before {
  content: "\0055";
}
.icon-face-outline:before {
  content: "\0056";
}
.icon-down:before {
  content: "\0057";
}
.icon-right:before {
  content: "\0058";
}
.icon-top:before {
  content: "\0059";
}
.icon-left:before {
  content: "\005a";
}
.icon-clip-straight:before {
  content: "\0061";
}
.icon-clip-bent:before {
  content: "\0062";
}
.icon-eye:before {
  content: "\0063";
}
.icon-trophy-outline:before {
  content: "\0064";
}
.icon-trophy:before {
  content: "\0065";
}
.icon-gear:before {
  content: "\0066";
}
.icon-gear-outline:before {
  content: "\0067";
}
.icon-star-outline:before {
  content: "\0068";
}
.icon-star:before {
  content: "\0069";
}
.icon-kanban-outline:before {
  content: "\006a";
}
.icon-kanban:before {
  content: "\006b";
}
.icon-menu-outline:before {
  content: "\006c";
}
.icon-menu:before {
  content: "\006d";
}
.icon-briefcase:before {
  content: "\006e";
}
.icon-briefcase-outline:before {
  content: "\006f";
}
.icon-moon-outline:before {
  content: "\0070";
}
.icon-planet-outline:before {
  content: "\0071";
}
.icon-calendar-outline:before {
  content: "\0072";
}
.icon-flag-outline:before {
  content: "\0073";
}
.icon-check-outline:before {
  content: "\0074";
}
.icon-tag:before {
  content: "\0075";
}
.icon-tag-outline:before {
  content: "\0076";
}
.icon-eye-outline:before {
  content: "\0077";
}
.icon-eye-hide-outline:before {
  content: "\0078";
}
.icon-eye-hide:before {
  content: "\0079";
}
.icon-user:before {
  content: "\007a";
}
.icon-team-outline:before {
  content: "\0030";
}
.icon-team:before {
  content: "\0031";
}
.icon-briefcase-add:before {
  content: "\0032";
}
.icon-briefcase-add-outline:before {
  content: "\0033";
}
.icon-funnel-close:before {
  content: "\0034";
}
.icon-funnel-close-outline:before {
  content: "\0035";
}
.icon-funnel-open:before {
  content: "\0036";
}
.icon-funnel-close:before {
  content: "\0037";
}
.icon-bell-outline:before {
  content: "\0038";
}
.icon-bell:before {
  content: "\0039";
}
.icon-user-inactive:before {
  content: "\0021";
}
.icon-user-add:before {
  content: "\0022";
}
.icon-user-add-outline:before {
  content: "\0023";
}
.icon-user-active-outline:before {
  content: "\0024";
}
.icon-user-inactive-outline:before {
  content: "\0025";
}
.icon-team-add-outline:before {
  content: "\0026";
}
.icon-team-add:before {
  content: "\0027";
}
